body {
    margin: auto 0;
    font-family: Arial;
    }

img {
    max-width: 100%;
}
    
.zone {
        cursor:pointer;
        color:#FFF;
        font-size:2em;
        border-radius:4px;
        border:1px solid #bbb;
        transition: all 0.3s linear;
    }
    
.zone:hover {
        -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    }
    
    /* NAV */
.sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    
.main-nav {
        display:flex;
        list-style:none;
        font-size: 0.7em;
        margin: 0;
        background-color: #bbb;
        padding-bottom: 1rem;
    }
    
.about {
        margin-left:auto;
    }
li {
        padding: 20px;
    }
    
a { 
        color:black;
        text-decoration:none;
    }

a:hover {
        color:red;
    }

.nav-bar-logo {
        width:5em;
    }

@media only screen and (max-width: 870px){
    .main-nav {
            font-size: 0.5em;
        padding: 0;
    }
    .nav-bar-logo {
        padding:0;
        height:fit-content;
    }
}
@media only screen and (max-width: 650px){
    .main-nav {
        font-size: 0.3em;
        padding: 0;
    }
    .nav-bar-logo {
        padding:0;
        height:fit-content;
    }
}

    

     /* COVER H1/H3 and IMG */
.container {
        display:flex;
        align-items: center;
      
        flex-direction:column;
      gap:1px;
      border-style:none;
      background-color: #f70d1a90;
    }
    
.cover { 
        width:30rem;
        padding-top:10px;
        max-width:100%;
        
        
        
    }

.home-page-header{
        color:black;
        padding-top: 50px;  
        padding-bottom: 0px;
        margin-bottom:0;
        
    }

.home-page-subheader{
        color:black;
        height: 10px;
        line-height:10%;        
        padding-top:0px;
        margin:0px;
        text-size-adjust:initial
    }   
@media only screen and (max-width: 870px){
    .home-page-subheader {
         font-size: 0.8em; } }

@media only screen and (max-width: 700px){
    .home-page-subheader {
        font-size: 0.6em; } }



            /* PLAYER PAGE AND NPC  */

.player-header-container {
        display:flex;
        justify-content: center;
        }

.player-main-header{
        color:black;
        padding-top:100px;
        padding-bottom:100px;
            }

.player-grid-container {
        display:grid;
        grid-template-columns: 1fr;
        gap:50px;}
        
.player-grid-wrapper{
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr;  
        border:2px black;   
        border-style:solid;
        gap: 5%;
        grid-template-areas: "blank image text1";
}
    
.player-image {
        height:100%;
        width:100%;
        max-width: 500px; 
        max-height: 300px; 
        object-fit:contain;
        grid-area: image;
        justify-self: center;
    }

    .player-text-wrapper{
        grid-area:text1;
        line-height:0;
    }
    @media only screen and (max-width: 870px){
        .player-text-wrapper {
             font-size: 0.8em; 
            } }
             @media only screen and (max-width: 600px){
                .player-text-wrapper {
                     font-size: 0.6em; } }
             
    @media only screen and (max-width: 870px){
        .player-grid-container  {
                gap:5px;
                padding:0;} }
                     
        

    /*MAPS PAGE  */

.map-header-container {
        display:flex;
        justify-content: center;
}


.map-main-header{
color:black;
padding-top:100px;
padding-bottom:100px;
    }

.map-grid-container {
display:grid;
gap:50px;}

.map-grid-wrapper{
display: grid;
grid-template-columns: 1fr 1fr;  
grid-template-areas: "map text1";
border:2px black;   
border-style:solid;
gap: 5%;
    }
    
.map-container {
    display: flex;
    justify-content: end;
    }
    
.map-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: map;
    }


.map-description{
    margin-right:20%;
    grid-area: text1
}
@media only screen and (max-width: 700px){
.map-description {
    max-height: 30%;
    font-size: 0.8em;
    margin-right:0;}}


@media only screen and (max-width: 870px){
    .map-grid-container {
         gap: 5%; 
        } }
@media only screen and (max-width: 600px){
    .map-grid-container {
    gap:2%;
     } }

@media only screen and (max-width: 700px){
    .map-name-header {
    font-size: 0.8em;
               }}

/* Campaign page*/

.camp-header-container {
    display:flex;
    justify-content: center;
}


.camp-main-header{
color:black;
padding-top:100px;
padding-bottom:100px;
}


.camp-grid-wrapper{
display: grid;
grid-template-columns: 1fr 0.5fr 1fr;
border:2px black;   
border-style:solid;
gap: 5%;
grid-template-areas: "blank image text1";
}

.camp-image { 
width: 300px;
height:300px;
border-radius:50%;
object-fit:cover;
grid-area: image;
justify-self: center;
}

@media only screen and (max-width: 1200px){
    .camp-image {
         width: 200px;
         height: 200px;
         justify-self:start
        } }
         @media only screen and (max-width: 600px){
            .camp-image {
                 width: 130px;
                height:130px;} }

.camp-text-wrapper {
    grid-area: text1;
}

         @media only screen and (max-width: 600px){
            .camp-text-wrapper {
              font-size: 0.8em;  } }
 
.camp-description{
padding-right:20%;
}

.dot-container {
    display:flex;
    justify-content:center;
}

.camp-dot {
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
    margin-top: 3%;
}

 @media only screen and (max-width: 1200px){
    .camp-dot {
         width: 15px;
         height: 15px;
        } 
    
    }
         @media only screen and (max-width: 700px){
            .camp-dot {
                 width: 10px;
                height: 10px;}}
            
          

.last {
    margin-bottom: 3%;
}



/* ABOUT US PAGE */

.au-main-container {
    background-image: url(background-image2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width:100%
  }
  
  .about-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    text-align: center;
  }

  .au-wrap {
    width: 60%;
    height:auto;
    background-color:rgb(187, 187, 187, 0.6);
    color: black;
    border-radius: 40%;
    padding-bottom:2%;
  }

  
/* SECONDARY PAGES CSS */

/* PLAYER PAGE LAYOUT AND NPC PAGE LAYOUT */


.profile-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image text";
    max-width: 80%; 
    margin: 0 auto; 
    padding-top: 5%; 
    gap:1%;
}

.p-image-container {
    grid-area: image;
    display: flex;
    justify-content: center;
}

.prof-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.p-text-wrapper {
    grid-area:text;
}

.p-header-container {
    font-size:1.2em;
}

.p-title {
    font-size:1em
}

.p-atribute-list{
    line-height: 0.5px;
   
}
.quote-container{
        text-align: center;
        margin: 0 auto;
        width: 50%; 
        margin-top: 5%;
        font-size:2em;
        opacity: 0.5;

}

.p-bio {
    display:flex;
    color:black;
    text-align: center;
    margin-top:5%;
   margin-left: 10%;
   margin-right:10%;
}

.pusher {
    margin-top: 2%;
}

/* NOTE Object-fit:cover Will make images the same size but crop them to this size 
object-fit:contain - will show the image but make all images the same size */

/* SECONDARY MAP PAGE  */
.nav-push {
    margin-top:10%;
}
.m-container {
    display:grid;
    width:100%;
    grid-template-columns: repeat(2, minmax(200px, 1fr) )  ;
}
