body {
    margin: auto 0;
    font-family: Arial;
    
    }
    
    .zone {
        cursor:pointer;
        color:#FFF;
        font-size:2em;
        border-radius:4px;
        border:1px solid #bbb;
        transition: all 0.3s linear;
    }
    
    .zone:hover {
        -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
        box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    }
    
    /* NAV */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    
    .main-nav {
        display:flex;
        list-style:none;
        font-size: 0.7em;
        margin: 0;
        background-color: #bbb
    }
    
    .about {
        margin-left:auto;
    }
    li {
        padding: 20px;
    }
    
    a { 
        color:black;
        text-decoration:none;
    }

    .nav-bar-logo {
        width:5em;
    }

    @media only screen and (max-width: 800px){
        .main-nav {
            font-size: 0.5em;
        padding: 0;
    }
    .nav-bar-logo {
        padding:0;
        height:fit-content;
    }
}

    

     /* COVER */
    .container {
        display:flex;
        align-items: center;
        justify-content: center;
        height:50vh;
    }
    
    .cover { 
        width:30rem;
        
    }
    